@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    display: block;
}


.nav-item a{
    font-size: 20px;
}
.hero-area {
    background-image: url(../images/kal-visuals-J2b_8YMyIvs-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top-center;
    background-size: cover;
    object-fit: cover;
    background-color: #0000005e;
    background-blend-mode: soft-light;
    height: 600px;
}
.hero {
    text-align: center;
    color: white;
    padding: 200px 0px;
}
.hero h3{
	font-size: 44px;
	margin: 0px;
	font-weight: 700;
}
.hero p {
    
    padding: 0px 220px;
    font-weight: 700;
    margin: 15px 0px;
    font-size: 18px;
}
.link{
	margin:auto;
}
.link a {
    background-color:#18d48b;
    color:black;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
}
.link a:hover{
	background-color:#4abc7b99;
	color: black;
}
.passege1{
    padding: 0px 100px;
    padding-top: 80px;
}
.image1 img{
    max-width: 100%;
}
h2{
    font-size: 25px;
    color:#3a3737;
}
p{
   
   font-size: 15px;
}
.link2{
    padding: 0 100px;
}
.link2 a {
    background-color:#18d48b;
    color:black;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
}
.link2 a:hover{
    background-color:#4abc7b99;
    color: black;
}
      
.icon-section{
    background-color: #f3f3f3ba;
    padding: 25px 0;
}
.icon{
    display: inline-block;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
}
.fourth-section{
    background-color: #f3f3f3ba;
    height: 400px;
}
.fourth-text{
    text-align: center;
    padding-top: 100px;
}
.fourth-text h4{
    font-size: 30px;
    font-weight: 700;
}
.colum1{
   text-align: right;
   padding-top: 20px;
}
.colum2{
   padding-top: 20px;
}
.colum1 a{
     background-color:#18d48b;
    color:black;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
}
.colum2 a{
     background-color:#18d48b;
    color:black;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
}
.col3 img{
    width: 100%;
    height: 215px;
    object-fit: cover;
}
.fifth-text h4{
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
}
.col3{
    background-color:#f3f3f3ba;
    height: 450px;
}
.col2{
    background-color:#f3f3f3ba;
    height: 450px;
}
.col2 img{
    width: 100%;
}
.col1{
    background-color:#f3f3f3ba;
    height: 450px;
}
.col1 img{
    width: 100%;
}
.t{
    padding: 30px 40px;
}
h5{
   font-weight: bold; 
}
p{
    padding: 5px 0;
}
.black-section{
    margin-top: 50px;
    background-color: #19192d;
    height: 1200px;
    color: #fff;
}

.tt{
    padding: 100px 50px;
}
.tt h3{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
.tt p{
    color: #fff;
    padding-top: 20px;
    line-height: 2;
    letter-spacing: 2;
    font-size: 20px;
}
form{
    padding: 140px 50px;
}
.btn{
    border-radius: 30px;
}
.custom-select{
    padding: 5px 0;
}
.t1 h1{
    color: #fff;
    font-size: 30px;
    padding-top: 100px;
}
.text1{
    padding: 20px 20px;
}
.text1 h1{
    color: #fff;
    font-size: 23px;
}
.text1 p{
    color: #fff;
    line-height: 2;
    letter-spacing: 1.5;
}
.link3{
    padding: 0 0;
}
.link3 a{
    background-color:#18d48b;
    color:black;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
}
.footer-section{
    background-color:  #444444f7;
    height: 400px;
}
.footer-text{
    padding-top: 70px;
}
.footer-text a{
    color: #fff;
    font-size: 15px; 
}
.footer-text h2{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.footer span{
    width: 1140px;
    display: block;
    height:2px;
    background: #f5efef2e;
    margin-top: 40px;
}
.footer1{
    display: inline-block;
}
.footer1 img{
    width: 20%;
    height: 20%;
}
.footer1 h6{
    text-align: right;
    color: #fff;
}

.form-control{
    color: #fff;
}

@media (min-width:992px ) and (max-width:1199px ) {
    .hero h3 {
    font-size: 35px;
    
}
    .hero p {
    padding: 0px 115px;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 18px;
}
    .passege1 {
    padding: 0px 80px;
    padding-top: 35px;
}
    .link2 {
    padding: 0 80px;
}
    .col3 img {
    height: 178px;
}
    form {
    padding: 165px 50px;
}



}
@media (min-width:768px ) and (max-width:991px ) {
    .hero h3 {
    font-size: 30px;
    font-weight: 600;
}
    .hero p {
    padding: 0px 0px;
    margin: 10px 0px;
    font-size: 16px;
}
   .link2 {
    padding: 0 0px;
}
   .passege1 {
    padding: 0px 0px;
    padding-top: 5px;
}
    .col-md-12 {
    max-width: 76%;
}
    .col3 img {
    height: 125px;
}
    .tt h3 {
    font-size: 26px;
}
    .tt p {
    padding-top: 0px;
    font-size: 16px;
} 
    form {
    padding: 145px 0px;
}
    .t1 h1 {
    font-size: 26px;
    padding-top: 0px;
}
   .text1 h1 {
    font-size: 15px;
}
    p {
    font-size: 12px;
}
    .link3 a {
    padding: 5px 20px;
}
}
@media (min-width:576px ) and (max-width:767px ) {
     .hero h3 {
    font-size: 30px;
}
   .hero p {
    padding: 0px 0px;
    font-size: 15px;
}
    .link a {
    padding: 5px 40px;
    font-weight: 600;
}
    .hero-area {
    background-position: right;
    height: 550px;
}
   img {
    max-width: 50%;
}
    .link2 a {
    margin-bottom: 1rem;
} 
    .colum1 {
    text-align: center;
}
    .colum2 {
    text-align: center;
}
   .fifth-text h4 {
    margin-top: 25px;
    font-size: 25px;
}
    .t {
    padding: 30px 0px;
}
    .col3 img {
    height: 152px;
}
    .tt {
    padding: 0px 50px;
}
    .tt h3 {
    font-size: 25px;
}
    .tt p {
    padding-top: 10px;
    font-size: 16px;
}
    form {
    padding: 0px 50px;
}
    .t1 h1 {
    font-size: 22px;
    padding: 10px 25px;
}
    .text1 {
    padding: 0px 25px;
}
    .text1 h1 {
    font-size: 20px;
}
    .link3 a {
    padding: 5px 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}
     p {
    padding: 0px 0;
}
p {
    font-size: 14px;
}
    .black-section {
    height: 1260px;
}
    .footer-text {
    padding-top: 10px;
}
    .footer-text h2 {
    font-size: 18px;
}
     .footer-text a {
    font-size: 12px;
}
    .footer-section {
    height: 520px;
}
}
@media (min-width:320px ) and (max-width:575px ) {
        .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

        .hero h3 {
    font-size: 23px;
}
   .hero p {
    padding: 0px 0px;
    font-size: 13px;
}
    .passege1 {
    padding: 0px 0px;
    padding-top: 0px;
}
    .link a {
    padding: 5px 40px;
    font-weight: 600;
}
    .link2 a{
        margin-bottom: 1rem;
}
    .hero-area {
    background-position: right;
    height: 550px;
}
   img {
    max-width: 100%;
}
   .row {
    padding-top: 0px;
}
   .fourth-text h4 {
    font-size: 20px;
}
  .colum1 {
    text-align: center;
}
   .colum2 {
    text-align: center;
}
   .fifth-text h4 {
    padding: 30px 0;
    margin-top: 0px;
    font-size: 20px;
}   

    .t {
    padding: 30px 0px;
}
   .t p{
    font-size: 18px;
}
    .tt {
    padding: 45px 0px;
}
    .tt h3 {
    font-size: 26px;
}
    .tt p {
    font-size: 15px;
}
   form {
    padding: 0px 0px;
}
    .t1 h1 {
    font-size: 20px;
    padding: 15px 0px;
}
   .black-section {
    margin-top: 0px;
    height: 1502px;
}
    .text1 {
    padding: 0px 0px;
}
    .text1 h1 {
    font-size: 18px;
}
   p {
    padding: 0px 0;
}
p {
    font-size: 13px;
}
   .link3 a {
    padding: 0px 20px;
    font-weight: 500;
    margin-bottom: 1rem;
}
    .col3 img {
    height: 135px;
}
   .footer-text {
    padding-top: 10px;
}
   .footer-text a {
    color: #fff;
    font-size: 14px;
}
    .footer-text h2 {
    font-size: 16px;
}
     .footer-section {
    height: 530px;
}
}